* {
    margin: auto;
    padding: 0%;
}

header {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    border-bottom: 1px solid rgb(223, 223, 223);
}